<div>
  <img src='{{flag}}' alt='{{name}}' />
  <p>Country: {{name}}</p>
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>
  <p>Languages: {{#each language}}{{language.name}}{{/each}}</p>
</div>